*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html, body #root{
  height:100%;
  width:100%;
}
html{
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.note{
  background-color: #474747;
  padding:1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color:whitesmoke;
}
.notes{
  display:flex;
  gap:2rem;
  padding:1rem;
  flex-wrap:wrap;
}
.notes-form{
  display:flex;
  gap:2rem;
  padding:1rem;
 
  border-radius: 20px;
}
.btn{
  padding: 0.5rem;
  border-radius: 20px;
}